<div ng-include="'components/navbar/navbar.html'"></div>
  <map zoom="10" disable-default-u-i="true" center="-33.890542, 151.274856">
      <directions
        draggable="true"
        panel="directions-panel"
        travel-mode=""
        origin="current-location"
        destination="-33.890542, 151.274856"
        >
      </directions>
      <!-- <traffic-layer></traffic-layer> -->
    </map>
    <md-content>
    <div id="booking-info">
      <div class="row">
        <div class="col-xs-12 col-sm-6" style="margin-bottom: 15px">
          <h4>{{booking.type}} Wash</h4>
          <br>
          <div class="confirm-item">
            <div class="confirm-icon">
              <md-icon md-svg-icon="assets/icons/directions-car.svg"></md-icon>
            </div>
            <div class="confirm-content">
              {{booking.vehicle.make}} {{booking.vehicle.model}} <br>
              <span>License Plate:</span> {{booking.vehicle.license_plate}}
            </div>
          </div>
          <br>
          <div class="confirm-item">
            <div class="confirm-icon">
              <md-icon md-svg-icon="assets/icons/place.svg"></md-icon>
            </div>
            <div class="confirm-content">
              {{booking.address1}} <br>
              {{booking.address2}} <br>
              {{booking.city}}, {{booking.state}} <br>
              {{booking.postcode}}
            </div>
          </div>
          <br>
          <div class="confirm-item">
            <div class="confirm-icon">
              <md-icon md-svg-icon="assets/icons/event.svg"></md-icon>
            </div>
            <div class="confirm-content">
              {{booking.date | date:"dd/MM/yyyy"}}
              {{booking.time | date:"HH:mma"}}
            </div>
          </div>
          <br>
          <div class="confirm-item" ng-if="isWasher">
            <div class="confirm-icon">
              <md-icon md-svg-icon="assets/icons/account-circle.svg"></md-icon>
            </div>
            <div class="confirm-content">
              {{booking.user.name}} <br>
              {{booking.user.contact_number}} <br>
              <a href="mailto:{{booking.user.email}}">{{booking.user.email}}</a>
            </div>
          </div>
          <br>
          <p ng-if="!isWasher">
            Status:
            <b ng-if="!obj.washer" style="color: #FFC107">
              Pending
            </b>
            <b ng-if="obj.washer" style="color: #4CAF50">
              Accepted
            </b>
          </p>
        </div>

      <div class="col-xs-12 col-sm-6">
        <h4>Invoice</h4>
        <br>
        <div class="row row-centered">
          <div class="col-xs-12 col-centered">
            <div class="row form-margin">
              <div class="col-xs-8 text-left">
                {{carDetail().title}} Car
              </div>
              <div class="col-xs-4 text-right">
                {{carDetail().price | currency : $}}
              </div>
            </div>
            <div class="row form-margin">
              <div class="col-xs-8 text-left">
                {{washDetail().title}} Wash
              </div>
              <div class="col-xs-4 text-right">
                {{washDetail().price | currency : $}}
              </div>
            </div>
            <div class="row form-margin">
              <div class="col-xs-8 text-left">
                {{extraDetail().title}}
              </div>
              <div class="col-xs-4 text-right">
                {{extraDetail().price | currency : $}}
              </div>
            </div>
            <div class="row form-margin border-top" style="padding-top: 10px;">
              <div class="col-xs-8 text-left">
                <b>Total</b>
              </div>
              <div class="col-xs-4 text-right">
                <b>{{total() | currency : $}}</b>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="md-actions" ng-if="isWasher && booking.washer === undefined" layout="row" layout-align="center">
    <md-button class="md-raised md-primary" ng-click="acceptDialog($event)">Accept</md-button>
  </div>

  <div class="md-actions" ng-if="!isWasher" layout="row" layout-align="center">
    <md-button class="md-raised md-warn" ng-click="cancelDialog($event)">Cancel Booking</md-button>
  </div>
  </md-content>
