// Colors
// --------------------------------------------------

$btnText:                           #fff;
$btnTextAlt:                        #000;

$btnFacebookBackground:             #3B5998;
$btnFacebookBackgroundHighlight:    #133783;
$btnTwitterBackground:              #2daddc;
$btnTwitterBackgroundHighlight:     #0271bf;
$btnGooglePlusBackground:           #dd4b39;
$btnGooglePlusBackgroundHighlight:  #c53727;
$btnGithubBackground:               #fafafa;
$btnGithubBackgroundHighlight:      #ccc;

// Social buttons
// --------------------------------------------------

.btn-facebook {
  background-color: $btnFacebookBackground !important;
  color: white !important;
  width: 75px;
}
.btn-twitter {
  background-color: $btnTwitterBackground !important;
  color: white !important;
  width: 75px;

}
.btn-google-plus {
  background-color: $btnGooglePlusBackground !important;
  color: white !important;
  width: 75px;

}
.btn-github {
  background-color: $btnGithubBackground !important;
  color: white !important;
  width: 75px;

}

.Auth {
  position: absolute;
  top:0;left:0;
  min-width: 100%;
  min-height: 100% !important;
  background-color: #2196F3 !important;
}

.Auth-Container {
  max-width: 90%;
  width: 400px;
  margin-left: auto;
  margin-right: auto;

  .Auth-Form {
    background-color: white;
    padding: 25px;
  }

  .full-width {
    width: 100%;
    margin: 0;
  }
}
