<md-content md-theme="default" class="Auth" layout-padding>
  <div class="Auth-Container">
  <form class="Auth-Form form" name="form" ng-submit="login(form)" novalidate>
    <h2 layout layout-align="center">Login</h2>
    <div class="form-group has-error">
      <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
         Please enter your email and password.
      </p>
      <p class="help-block" ng-show="form.email.$error.email && submitted">
         Please enter a valid email.
      </p>
      <p class="help-block">{{ errors.other }}</p>
    </div>
     <md-input-container flex>
       <label>Email</label>
       <input ng-model="user.email">
     </md-input-container>
     <md-input-container flex>
       <label>Password</label>
       <input type="password" ng-model="user.password">
     </md-input-container>
     <md-button type="submit" class="full-width md-raised md-primary form-margin">Login</md-button>
     <hr>
     <md-button class="full-width md-accent md-raised white form-margin" aria-label="Register" title="Register" href="/signup">Register</md-button>
     <br>
   </form>
 </div>
</md-content>
