$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

@import 'sass-material-colors/sass/sass-material-colors';

@import 'font-awesome/scss/font-awesome';

@import 'angular-material/angular-material';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'applications/applications.scss';
@import 'book/book.scss';
@import 'booking/booking.scss';
@import 'main/main.scss';
@import 'myBookings/myBookings.scss';
@import 'washer/washer.scss';
@import 'modal/modal.scss';
@import 'navbar/navbar.scss';
// endinjector


md-input-container.md-default-theme, md-input-container .md-input[disabled], md-input-container.md-default-theme, md-input-container .md-input [disabled] {
  background-image: none !important;
}


.white {
  color: white !important;
}

.form-margin {
  margin-bottom: 25px;
}

.row-centered, .col-centered {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.border-top {
  border-top: 1px solid $text-muted;
}

.confirm-item {
  position: relative;
  .confirm-icon {
    position: absolute;
    top: 0;
    width: 50px;
    display:inline-block;
  }
  .confirm-content {
    span {
      color: $text-muted;
    }
    display:inline-block;
    margin-left: 50px;
    text-align: left;
    padding-top: 2px;
  }
}

.no-highlight * {
  text-decoration: none !important;
}


md-content {
  min-height: 100px !important;
}
