<div ng-include="'components/navbar/navbar.html'"></div>
<br>
<md-content>
  <md-tabs md-dynamic-height md-border-bottom>
    <br>
    <br>
    <md-tab id="tab1">

      <md-tab-label class="tab-label">Unconfirmed</md-tab-label>
      <md-tab-body>
        <span ng-if="!loaded" us-spinner></span>
        <div class="text-center" ng-if="loaded && !applications.length">No Applications Found</div>
        <div ng-repeat="obj in applications">
            <md-card>
              <div class="title-block">
                <span class="title-text">{{obj.name}}</span>
              </div>
              <md-card-content>
                <div class="row">
                  <div class="col-sm-6">
                    <p><md-icon md-svg-icon="assets/icons/account-circle.svg"></md-icon> {{obj.name}}</p>
                    <p><md-icon md-svg-icon="assets/icons/call.svg"></md-icon> {{obj.contact_number}}</p>
                    <p><md-icon md-svg-icon="assets/icons/event.svg"></md-icon> {{obj.date | date:"dd/MM/yyyy"}}</p>
                  </div>
                  <br>
                  <div class="col-sm-6">
                    <p class="text-muted"> Message: </p>
                    <p>
                      {{obj.message}}
                    </p>
                  </div>
                </div>
                <div class="text-right">
                  <md-button class="md-raised md-warn" ng-click="deny(obj)">Deny</md-button>
                  <md-button class="md-raised md-primary" ng-click="accept(obj)">Accept</md-button>
                </div>
              </md-card-content>
            </md-card>
          </div>
        </md-tab-body>
      </md-tab>

        <md-tab id="tab2">
          <md-tab-label class="tab-label">Accepted</md-tab-label>
          <md-tab-body>
            <span ng-if="!loadedAccepted" us-spinner></span>
            <div class="text-center" ng-if="loadedAccepted && !accepted.length">No Applications Found</div>
            <div ng-repeat="obj in accepted">
                <md-card>
                  <div class="title-block">
                    <span class="title-text">{{obj.name}}</span>
                  </div>
                  <md-card-content>
                    <div class="row">
                      <div class="col-sm-6">
                        <p><md-icon md-svg-icon="assets/icons/account-circle.svg"></md-icon> {{obj.name}}</p>
                        <p><md-icon md-svg-icon="assets/icons/call.svg"></md-icon> {{obj.contact_number}}</p>
                        <p><md-icon md-svg-icon="assets/icons/event.svg"></md-icon> {{obj.date | date:"dd/MM/yyyy"}}</p>
                      </div>
                      <br>
                      <div class="col-sm-6">
                        <p class="text-muted"> Message: </p>
                        <p>
                          {{obj.message}}
                        </p>
                      </div>
                    </div>
                  </md-card-content>
                </md-card>
              </div>
              </md-tab-body>
            </md-tab>
        </md-tabs>
    </div>
</md-content>
