<div ng-include="'components/navbar/navbar.html'"></div>
  <md-content class="md-padding">
    <md-tabs md-dynamic-height md-border-bottom>
          <md-tab id="tab1">
            <md-tab-label class="tab-label">Available</md-tab-label>
            <md-tab-body>
              <span ng-if="!loaded" us-spinner></span>
              <span ng-if="loaded && bookings.count == 0">No Bookings Found</span>
              <div ng-repeat="obj in bookings">
                <md-card  style="cursor: pointer; position: relative;" ng-if="!obj.washer" ng-click="nav(obj)" md-ink-ripple>
                  <div class="title-block">
                     <span class="title-text">{{obj.type}} Wash</span>
                  </div>
                  <map style="height:125px; width:100%;" zoom="10" disable-default-u-i="true" center="-33.890542, 151.274856">
                    <marker position="-33.890542, 151.274856" title="car"></marker>
                  </map>
                  <md-card-content>
                    <p><md-icon md-svg-icon="assets/icons/directions-car.svg"></md-icon> {{obj.vehicle.make}} {{obj.vehicle.model}}</p>
                    <p><md-icon md-svg-icon="assets/icons/event.svg"></md-icon> {{obj.date | date:"dd/MM/yyyy"}} {{obj.time | date:"h:mma"}}</p>
                    <p><md-icon md-svg-icon="assets/icons/account-circle.svg"></md-icon> {{obj.user.name}}</p>
                  </md-card-content>
                </md-card>
              </div>
            </md-tab-body>
          </md-tab>

          <md-tab id="tab2">
            <md-tab-label class="tab-label">Assigned</md-tab-label>
            <md-tab-body class="tabBody">
              <div ng-repeat="obj in assigned">
                <md-card  style="cursor: pointer; position: relative;" ng-if="!obj.washer" ng-click="nav(obj)" md-ink-ripple>
                  <div class="title-block">
                     <span class="title-text">{{obj.type}} Wash</span>
                  </div>
                  <map style="height:125px; width:100%;" zoom="10" disable-default-u-i="true" center="-33.890542, 151.274856">
                    <marker position="-33.890542, 151.274856" title="car"></marker>
                  </map>
                  <md-card-content>
                    <p><md-icon md-svg-icon="assets/icons/directions-car.svg"></md-icon> {{obj.vehicle.make}} {{obj.vehicle.model}}</p>
                    <p><md-icon md-svg-icon="assets/icons/event.svg"></md-icon> {{obj.date | date:"dd/MM/yyyy"}} {{obj.time | date:"h:mma"}}</p>
                    <p><md-icon md-svg-icon="assets/icons/account-circle.svg"></md-icon> {{obj.user.name}}</p>
                  </md-card-content>
                </md-card>
              </div>
              <div class="text-center" ng-if="loadedAssigned && !assigned.length">No  bookings have been assigned.</div>
              <span ng-if="!loadedAssigned" us-spinner></span>
            </md-tab-body>
          </md-tab>
        </md-tabs>
  </md-content>
