
.tab-label {
  width: 50%;
}

.title-block {
  width: 100%;
  background-color: #607D8B;
  color: white;
  padding: 20px
}

.title-text {
  font-size: 18px;
}

a {
  text-decoration: none !important;
}

.card {
  margin-bottom:30px;
}

#tabBody {
  padding-bottom: 25px;
}

#noAssigned {
  padding-top: 55px;
  text-align: center;
}

md-card:focus {
    outline: 0;
}
