<div ng-controller="NavbarCtrl as ctrl">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button ng-if="showBack" class="md-icon-button" ng-click="back()" aria-label="Back">
          <md-icon md-svg-icon="assets/icons/arrow-back.svg"></md-icon>
        </md-button>
        <h2>
          <span>{{title}}</span>
        </h2>
        <span flex></span>
        <md-menu md-position-mode="target-right target" >
              <md-button aria-label="Settings" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                <md-icon md-svg-icon="assets/icons/more-vert.svg"></md-icon>
              </md-button>
              <md-menu-content width="4" >
                <md-menu-item ng-repeat="item in menuItems">
                  <md-button ng-click="logout()">
                      <div layout="row">
                        <p flex>{{ item.title }}</p>
                      </div>
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
      </div>
    </md-toolbar>
</div>
