<div ng-include="'components/navbar/navbar.html'"></div>
<div align="center">
  <md-button class="large-button button-1" href="/book" title="Book a wash" aria-label="Book a wash">Book a Wash</md-button>
  <md-button class="large-button button-2" href="/myBookings" title="My Bookings" aria-label="My Bookings">My Bookings</md-button>
</div>
