.large-button {
  height:250px;
  max-width: 600px;
  width: 100%;
  margin: 0;
  padding-top: 175px;
  padding-left: 20px;
  text-align: left;
  font-size: 1.9rem;
  text-transform: none;
  color: white;
  display: inline-block;
}

.large-button:hover {
    color: #eee;
}

.large-button:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0, 0.3);
  transition: 20ms;
}

.button-1 {
  background: url('/assets/images/book.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.button-2 {
  background: url('/assets/images/mybook.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
