<div ng-controller="SignupCtrl" layout="column">
  <md-content md-theme="default" class="Auth" layout-padding>
    <div class="Auth-Container">
    <form class="Auth-Form form form-margin" name="form" ng-submit="register(form)" novalidate>
      <h2 layout layout-align="center">Register</h2>

      <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                          'has-error': form.name.$invalid && submitted }">
        <md-input-container flex>
          <label>Name</label>
          <input name="name" required ng-model="user.name" ng-change="application.name=user.name" mongoose-error>
        </md-input-container>
        <p class="help-block" ng-show="form.name.$error.required && submitted">
          A name is required
        </p>
      </div>


      <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                          'has-error': form.email.$invalid && submitted }">
         <md-input-container flex>
           <label>Email</label>
           <input required name="email" ng-model="user.email" ng-change="application.email=user.email" mongoose-error>
         </md-input-container>
         <p class="help-block" ng-show="form.email.$error.email && submitted">
           Doesn't look like a valid email.
         </p>
         <p class="help-block" ng-show="form.email.$error.required && submitted">
           What's your email address?
         </p>
         <p class="help-block" ng-show="form.email.$error.mongoose">
           {{ errors.email }}
         </p>
       </div>

       <div class="form-group" ng-class="{ 'has-success': form.contact_number.$valid && submitted,
                                           'has-error': form.contact_number.$invalid && submitted }">
          <md-input-container flex>
            <label>Contact Number</label>
            <input required type="number" ng-maxlength="10" ng-minlength="8" name="contact_number" ng-model="user.contact_number" ng-change="application.contact_number=user.contact_number" mongoose-error>
          </md-input-container>
          <p class="help-block" ng-show="(form.contact_number.$error.mongoose || form.contact_number.$error.number || form.contact_number.$error.maxlength || form.contact_number.$error.minlength) && submitted">
            Please enter a valid phone number
          </p>

          <p class="help-block" ng-show="form.contact_number.$error.required && submitted">
            What's your email contact number?
          </p>
        </div>

       <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                           'has-error': form.password.$invalid && submitted }">
         <md-input-container flex>
           <label>Password</label>
           <input required type="password" name="password" ng-model="user.password" md-minlength="8" mongoose-error>
         </md-input-container>
         <p class="help-block"
            ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
           Password must be at least 8 characters.
         </p>
         <p class="help-block" ng-show="form.password.$error.mongoose">
           {{ errors.password }}
         </p>
         <p>
           <md-checkbox ng-model="washer" aria-label="I want to be a washer">
          I want to be a Washer
        </md-checkbox>
        <div ng-if="washer">
          <md-input-container flex>
            <label>Why do you want to be a Washer?</label>
          <textarea name="message" required ng-model="application.message" mongoose-error> </textarea>
          </md-input-container>
        <!-- If we were going to obtain payment details on application
          <md-input-container flex>
            <label>BSB</label>
          <input name="BSB" required ng-model="washer.BSB" mongoose-error>
          </md-input-container>
          <md-input-container flex>
            <label>Account Number</label>
            <input name="account number" required ng-model="washer.acc_number" mongoose-error>
          </md-input-container>
          <md-input-container flex>
            <label>Account Name</label>
            <input name="account name" required ng-model="washer.acc_name" mongoose-error>
          </md-input-container>
        -->
        </div>
         </p>
       </div>
       <md-button type="submit" class="full-width md-raised md-primary">Register</md-button>
       <hr>
       <md-button class="full-width md-accent md-raised white form-margin" aria-label="Login" title="Login" href="/login">Login</md-button>
     </form>
   </div>
  </md-content>
</div>
