<div ng-include="'components/navbar/navbar.html'"></div>
<br>
<md-content>
  <span ng-if="!loaded" us-spinner></span>
  <div class="text-center" ng-if="loaded && !bookings.length">No Bookings Found</div>
    <div ng-repeat="obj in bookings">
        <md-card  style="cursor: pointer; position: relative;" ng-if="!obj.washer" md-ink-ripple ng-click="nav(obj)">
          <div class="title-block">
            <span class="title-text">{{obj.type}} Wash</span>
          </div>
          <map style="height:125px; width:100%;" zoom="10" disable-default-u-i="true" center="-33.890542, 151.274856">
            <marker position="-33.890542, 151.274856" title="car"></marker>
          </map>
          <md-card-content>
            <p><md-icon md-svg-icon="assets/icons/directions-car.svg"></md-icon> {{obj.vehicle.make}} {{obj.vehicle.model}}</p>
            <p><md-icon md-svg-icon="assets/icons/event.svg"></md-icon> {{obj.date | date:"dd/MM/yyyy"}} {{obj.time | date:"h:mma"}}</p>
            <p><md-icon ng-if="obj.washer" md-svg-icon="assets/icons/account-circle.svg"></md-icon> {{obj.washer.name}}</p>
            <p ng-if="!obj.washer">
              Status:
              <b style="color: #FFC107">
                Pending
              </b>
            </p>
          </md-card-content>
        </md-card>
    </div>
</md-content>
