<div ng-include="'components/navbar/navbar.html'"></div>
<md-content class="md-padding">
   <ul id="progressbar">
     <li ng-class="(current >= 1) ? 'active' : ''">Car Details</li>
     <li ng-class="(current >= 2) ? 'active' : ''">Location</li>
     <li ng-class="(current >= 3) ? 'active' : ''">Wash Details</li>
   </ul>

   <div ng-if="current == 1">
     <form name="forms.f1">
       <div class="text-center">
         <h3>Car Details</h3>
         Tell us a little about the car you would like washed
         <hr/>
         <h4>Car Size*</h4>
           <md-radio-group name='type' ng-model="booking.vehicle.category" ng-required="true">
            <md-radio-button ng-repeat="it in carSizes"
                             ng-value="it.value"
                             aria-label="{{it.title}}">
                <md-icon md-svg-icon="{{it.svg}}"></md-icon>
                <label>{{it.title}}</label>
            </md-radio-button>
          </md-radio-group>
          <md-input-container class="text-center">
            <div ng-show="!formValid && forms.f1.type.$error" ng-messages="forms.f1.type.$error">
              <div ng-message="required">Car size is required.</div>
            </div>
          </md-input-container>
          <br><br>
        <md-input-container flex>
          <label>How can we access the car?*</label>
          <textarea placeholder="E.g. Call upon arrival, car located at front of building..."  name='access' ng-model="booking.vehicle.car_accesibility" class='col-sm-12' ng-required="true"></textarea>
          <div ng-show="!formValid" ng-messages="forms.f1.access.$error">
            <div ng-message="required">Car accessibility is required.</div>
          </div>
        </md-input-container>

        <md-input-container flex>
          <label>Car Make*</label>
          <input type="text" required ng-model="booking.vehicle.make" name='make' ng-required="true" />
          <div ng-show="!formValid" ng-messages="forms.f1.make.$error">
            <div ng-message="required">Make is required.</div>
          </div>
        </md-input-container>

        <md-input-container flex>
          <label>Car Model*</label>
          <input type="text" required  ng-model="booking.vehicle.model" name='model' ng-required="true" />
          <div ng-show="!formValid" ng-messages="forms.f1.model.$error">
            <div ng-message="required">Model is required.</div>
          </div>
        </md-input-container>

        <md-input-container flex>
          <label>Car License Plate*</label>
          <input type="text" required name="plate" ng-model="booking.vehicle.license_plate" ng-required="true" />
          <div ng-show="!formValid" ng-messages="forms.f1.plate.$error">
            <div ng-message="required">License plate is required.</div>
          </div>
        </md-input-container>
      </form>
     </div>
   </div>

   <div ng-if="current == 2">
     <div class="text-center">
       <form name="forms.f2">
       <h3>Location</h3>
       Please select where the car will be at the time of wash
       <hr/>
       <!-- <map zoom="10" >
       </map> -->

       <md-input-container flex>
         <label>Address*</label>
         <input type="text" class=form-control ng-autocomplete ng-model="booking.address1" options="options" details="details" required/>
         <div ng-show="!formValid" ng-messages="forms.f2.address1.$error">
           <div ng-message="required">Address is required.</div>
         </div>
       </md-input-container>
    </form>
     </div>
   </div>

   <div ng-if="current == 3">
     <form name="forms.f3" class="text-center">
       <h3>Wash Details</h3>
       Select when and how the car will be washed
       <hr/>
       <md-input-container flex>
         <md-datepicker ng-required="true" ng-model="booking.date" md-placeholder="Date*" name='date'></md-datepicker>
         <div ng-show="!formValid" ng-messages="forms.f3.date.$error">
           <div ng-message="required">Date is required.</div>
         </div>
       </md-input-container>

     <div style="margin-left: 35px;">
       <md-icon md-svg-icon="/assets/icons/access-time.svg"
          style="font-size: 55px; height: 50px;top: 33px;left: 2px;position: relative;"></md-icon>
        <div style="width: 155px; padding-left: 23px;padding-right: 10px;display:inline-block; text-align:left;">
           <md-input-container flex >
             <label>Time*</label>
             <input type="time" ng-required="true" ng-model="booking.time" name='time' ng-required="true" />
             <div ng-show="!formValid" ng-messages="forms.f3.time.$error">
               <div ng-message="required">Time is required.</div>
             </div>
           </md-input-container>
         </div>
       </div>
       <br><br>
       <h4>Wash Type*</h4>
        <md-radio-group ng-required="true" name='wash' ng-model="booking.type">
          <md-radio-button ng-repeat="it in washTypes"
                           ng-value="it.value"
                           aria-label="{{it.title}}">
            <md-icon md-svg-icon="{{it.svg}}"></md-icon>
            <label>{{it.title}}</label>
        </md-radio-button>
        <md-input-container flex>
          <div ng-show="!formValid" class="text-center" ng-messages="forms.f3.wash.$error">
            <div ng-message="required">Wash type is required.</div>
          </div>
        </md-input-container>
      </md-radio-group>
      <br><br>
      <br>
      <!-- Removed for simplicity
      <h4>Extras</h4>
      <md-radio-group ng-model="booking.extra">
        <md-radio-button ng-repeat="it in extras"
                         ng-value="it.value"
                         aria-label="{{it.title}}">
            <md-icon md-svg-icon="{{it.svg}}"></md-icon>
            <label>{{it.title}}</label>
        </md-radio-button>
      </md-radio-group> -->
    </form>
   </div>

    <div ng-if="current == 4">
      <div class="text-center">
        <h3>Booking Confirmation</h3>
        You're almost there! Please confirm that the following details are correct
        <hr/>

        <div class="confirm-item">
          <div class="confirm-icon">
            <md-icon md-svg-icon="assets/icons/directions-car.svg"></md-icon>
          </div>
          <div class="confirm-content">
            {{booking.vehicle.make}} {{booking.vehicle.model}} <br>
            <span>License Plate:</span> {{booking.vehicle.license_plate}}
          </div>
        </div>

        <div class="confirm-item">
          <div class="confirm-icon">
            <md-icon md-svg-icon="assets/icons/place.svg"></md-icon>
          </div>
          <div class="confirm-content">
            {{booking.address1}} <br>
            {{booking.address2}} <br>
            {{booking.city}}, {{booking.state}} <br>
            {{booking.postcode}}
          </div>
        </div>

        <div class="confirm-item">
          <div class="confirm-icon">
            <md-icon md-svg-icon="assets/icons/event.svg"></md-icon>
          </div>
          <div class="confirm-content">
            <span>{{booking.date | date:"dd/MM/yyyy"}}</span>
            <span>{{booking.time | date:"HH:mma"}}</span>
          </div>
        </div>
        <br><hr>
        <h4>Invoice</h4>
        <br>
        <div class="row row-centered">
          <div class="col-md-6 col-xs-11 col-sm-8 col-centered">
            <div class="row form-margin">
              <div class="col-xs-8 text-left">
                {{carDetail().title}} Car
              </div>
              <div class="col-xs-4 text-right">
                {{carDetail().price | currency : $}}
              </div>
            </div>

            <div class="row form-margin">
              <div class="col-xs-8 text-left">
                {{washDetail().title}} Wash
              </div>
              <div class="col-xs-4 text-right">
                {{washDetail().price | currency : $}}
              </div>
            </div>

            <div class="row form-margin">
              <div class="col-xs-8 text-left">
                {{extraDetail().title}}
              </div>
              <div class="col-xs-4 text-right">
                {{extraDetail().price | currency : $}}
              </div>
            </div>

            <div class="row form-margin border-top" style="padding-top: 10px;">
              <div class="col-xs-8 text-left">
                <b>Total</b>
              </div>
              <div class="col-xs-4 text-right">
                <b>{{total() | currency : $}}</b>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

   <div>
     <md-button ng-if="current > 1" ng-click="back()" class="md-raised">Back</md-button>
     <div style="float: right">
       <md-button ng-if="current < 4" ng-click="next()" class="md-raised md-primary">Next</md-button>
       <md-button ng-if="current == 4" ng-click="book()" class="md-raised md-primary">Book</md-button>
     </div>
   </div>
 </md-content>
