md-content {
  max-width: 850px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px !important;
}

//colors
$main: #eee;
$text: #333;
$accent: material-color('teal', '600');

#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	counter-reset: step;
  text-align: center;
  padding-left: 0;
	li {
		list-style-type: none;
		color: $text;
		font-size: 11px;
		width: 33%;
		float: left;
		position: relative;
    z-index: 5;
		&:before {
      counter-increment: step;
      content: counter(step);
			width: 30px;
			line-height: 30px;
			display: block;
			font-size: 10px;
			color: $text;
			background: $main;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 99px;
			margin: 0 auto 5px auto;
		}
		&:after {
			content: '';
			width: 100%;
			height: 3px;
			background: $main;
			position: absolute;
			left: -50%;
			top: 14px;
      margin-left: 15px;
      z-index: -1;
		}
		&.active {
			&::before {
				background: $accent;
				color: $main;
			}
			&::after {
				background: $accent;
				color: $main;
			}
		}
		&:first-child:after {
			content: none;
		}
	}
}


md-radio-button {
  position: relative;
  height: 100px;
  width: 20%;
  line-height: 0.1;
  display: inline-block;
  .md-container {
    top: 100px;
  }
  .md-label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    label {
      display: block;
      line-height: 1;
    }
    md-icon {
      display: block;
      width: 65px;
      height: 65px;
    }
  }
}
